/* Landing Page MAIN SECTION */

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.section-x {
  width: 100%;
  /* height: 150vh; */
  margin: 1em 0;
  padding: 1em;
}

.color-gradient-s1 {
  background-image: linear-gradient(rgb(205, 205, 205), rgb(54, 58, 58));
}

.color-gradient-s2 {
  background-image: linear-gradient(rgb(205, 205, 205), rgb(54, 58, 58));
}

.color-gradient-s3 {
  background-image: linear-gradient(rgb(205, 205, 205), rgb(54, 58, 58));
}

.color-gradient-s4 {
  background-image: linear-gradient(rgb(69, 120, 207), rgb(26, 134, 222));
}

.color-gradient-s5 {
  background-image: linear-gradient(rgb(205, 205, 205), rgb(54, 58, 58));
}

.color-gradient-s6 {
  background-image: linear-gradient(rgb(205, 205, 205), rgb(54, 58, 58));
}

.website-content {
  width: 100%;
  margin-top: 50px;
}

/* SIDE-NAVIGATION   */
#mySidenav a {
  position: fixed;
  right: -60px;
  margin-top: 5rem;
  transition: 0.5s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  right: 5px;
}

#facebook {
  top: 20px;
  background-color: #04AA6D;
}

#instagram {
  top: 80px;
  background-color: #2196F3;
}

#linkedin {
  top: 140px;
  background-color: #f44336;
}

#website {
  top: 200px;
  background-color: rgb(75, 198, 64)
}

/* SIDE-NAVIGATION  ENDS */


/* GO TO TOP BUTTON  */
#myBtn {
  display: none;
  position: fixed;
  bottom: -45px;
  right: 5px;
  z-index: 99;
  font-size: 18px;
  background-color: rgb(11, 114, 183);
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: rgb(192, 106, 0);
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/* GO TO TOP BUTTON ENDS  */

/* SEARCH BUTTON */
.topnav {
  /* overflow: hidden; */
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.search-container {
  height: 20px;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border-radius: 10px;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  /* margin-right: 16px; */
  background: rgb(177, 61, 160);
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: rgb(24, 50, 218);
}

/* SEARCH BUTTON ENDS */





















/* Landing Page MAIN SECTION */

/* row container */
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/*styling image*/
.image-1 img {
  background-color: #aaa;
  width: 100%;
  /* padding: 20px; */
}

.image img {
  background-color: #aaa;
  width: 80%;
}

.image-1 {
  background-color: #aaa;
  padding: 20px;
}

.image-2 img {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}