html,
body {
  margin: 0%;
  padding: 0%;
}

* {
  box-sizing: border-box;
}

* {
  word-break: break-all;

}

/* HEADER SECTION STARTS*/
/* HEADER SECTION STARTS*/
/* HEADER SECTION STARTS*/


header {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.navbar {
  overflow: hidden;
  position: fixed;
  padding: 10px;
  top: 0%;
  width: 100%;
  background-color: rgb(0, 106, 136);
  font-family: Arial, Helvetica, sans-serif;

}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.navbar {
  --accent-color: #6591d3;
  --gradient-color: #ea48ae;
}

.dropdown {
  --accent-color: #BFF098;
  --gradient-color: #6FD6FF;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  /* background-color: red; */
  background: linear-gradient(to bottom, var(--accent-color), var(--gradient-color));
  border-radius: 10px;
  color: #000;
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.dropdown-content .header {
  background: red;
  padding: 16px;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column-category {
  float: right;
  width: 30%;
  margin: auto;
  padding: 10px;
  background-color: #ccc;
  height: 220px;
}

.column-category a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column-category,
h3 a:hover {
  background-color: rgb(31, 130, 186);
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  header {
    float: none;
  }
}


/* HEADER SECTION CLOSED */
/* SECTION CLOSED */
/* HEADER SECTION CLOSED */

/* CARD-SECTION STARTS*/
/* CARD-SECTION STARTS*/
/* CARD-SECTION STARTS*/

.course-section {
  width: 100%;
  text-align: center;
  margin: auto;
}

.course-card {
  display: inline-block;
  border: 5px solid rgb(0, 0, 0);
  border-style: double;
  border-radius: 20px;
  margin-right: 50px;
}

.course-div {
  text-align: center;
  width: 100%;
  color: rgb(255, 255, 255);
  padding: 100px 10px;
}

.course-div h1 {
  font-size: 60px;
  font-weight: 20px;
  margin: 15px 0;
}

.course-div h3 {
  font-size: 30px;
  margin: 10px 0;
}

.course-div p {
  font-size: 20px;
}

/* CARD-SECTION ENDS*/
/* CARD-SECTION ENDS*/
/* CARD-SECTION ENDS*/

/* INDEX-PAGE STARTS*/
/* INDEX-PAGE STARTS*/
/* INDEX-PAGE STARTS*/

.welcompage {
  background-image: url(https://w.wallhaven.cc/full/x8/wallhaven-x8ye3z.jpg);
  color: aliceblue;
  text-align: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-attachment: fixed;
  background-position: center;
}

.welcompage-contact {
  background-image: url(https://w.wallhaven.cc/full/dp/wallhaven-dpo38l.jpg);
  color: aliceblue;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  background-attachment: fixed;
  background-position: center;
}

/* .wel-head img {
  /* border: 5px solid red; */
/* margin-right: 15%; */

/* } */

.wel-head h1 {
  width: 100%;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: auto;
  padding-top: 70px;
}

.wel-head p {
  padding-left: 10px;
  text-align: center;
  width: 100%;
  letter-spacing: 1px;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
}

/* BUTTON_BUTTON STARTS */
/* BUTTON_BUTTON STARTS */
/* BUTTON_BUTTON STARTS */

button {
  display: inline-block;
  border-radius: 10px;
  background-color: orangered;
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: -30px 0px 50px 0px;
}

button span::after {
  content: icon;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  padding-right: 20px;
}

/* BUTTON_BUTTON ENDS */
/* BUTTON_BUTTON ENDS */
/* BUTTON_BUTTON ENDS */

/* FEE-SECTION STARTS */
/* FEE-SECTION STARTS */
/* FEE-SECTION STARTS */

.welcompage-fee {
  background-image: url(https://w.wallhaven.cc/full/3z/wallhaven-3zgz2y.png);
  color: aliceblue;
  text-align: center;
  width: 100%;
  /* height: 70vh; */
  margin: 0 auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.welcompage-trainer {
  background-image: url(/UI-project-v2/image/Curtain\ Wallpaper.png);
  color: rgb(63, 52, 52);
  text-align: center;
  width: 100%;
  margin: 0 auto;
  background-attachment: fixed;
  background-position: center;

}


.site-heading {
  text-align: center;
}

.site-head-text {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  border-bottom: 5px solid white;
  font-family: var(--font-type-2);
  font-weight: 700;
}

.site-logo {
  text-align: center;
  border: 2px solid red;


  z-index: 2;
  position: relative;

}

.site-main {}

.landing-page-text {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-family: var(--font-type-2);
  font-weight: 700;
  padding: 1em;
  color: rgb(255, 109, 30);
  line-height: 1.2em;
}



.landing-page-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.border-bt {
  border-bottom: 2px solid white;
}

.landing-page-details a {
  text-decoration: none;
  color: black;
  font-style: italic;
  padding: 1em 1em;
  background-color: lightyellow;
  letter-spacing: 0.2rem;
  border-radius: 7%;
}

.landing-page-details {
  margin: 1.5em 0;
  text-align: center;

}

.tech-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mobile-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.mobile-menu nav ul {
  display: flex;
  color: white;
  background-color: #2a64f5;
}

.mobile-menu nav ul li {
  padding: 1em 1em 0.5em 1em;
  text-align: center;
  border: 1px solid white;
  letter-spacing: 0.5px;
  width: 98%;
  margin: auto;
}

.mobile-menu nav ul li:hover {
  color: orange;
  text-decoration: underline;
}

/* contact us page styles */
.contact-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-card {
  width: calc(100 / 3);
  margin: 1em;
  padding: 1em;
  font-family: var(--font-type-1);
  border: 1px solid hsl(0, 2%, 49%);
  box-shadow: 5px 5px 5px hsl(0, 2%, 49%);
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  background-color: #2e6dab;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.card-title {
  font-weight: 500;
}

.card-title:hover {
  background-color: #2a64f5;
}

.contact-card:hover {
  box-shadow: 10px 10px 10px hsl(0, 74%, 42%);
  transform: scale(1.025, 1.025);
  border-radius: 5% 0 5% 0;
}

.card-text {
  padding: 1em;
  color: white;
  font-style: italic;
}

.fa-mobile-screen {
  color: white;
}

.fa-envelope-open {
  color: orange;
}

.fa-location-dot {
  color: tomato;
}

/** Media Query **/
@media (min-width:480px) {
  .contact-cards {
    flex-direction: column;
  }
}

@media (min-width:720px) {
  .contact-cards {
    flex-direction: column;
  }
}

@media (min-width:1024px) {
  .contact-cards {
    flex-direction: row;
  }

  .mobile-menu {
    display: none;
  }

}

@media (min-width:1520px) {
  .contact-cards {
    flex-direction: row;
  }

  .mobile-menu {
    display: none;
  }

}

/* FEE-SECTION ENDS */
/* FEE-SECTION ENDS */
/* FEE-SECTION ENDS */

/* TRAINER-SECTION STARTS */
/* TRAINER-SECTION STARTS */
/* TRAINER-SECTION STARTS */

.trainer-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.trainer-position {
  color: rgb(6, 6, 6);
  font-size: 18px;
}

.trainer-contact {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 70%;
  font-size: 18px;
}

.trainer-social a {
  text-decoration: none;
  font-size: 22px;
  color: rgb(16, 6, 71);
  margin-right: 10px;
}

.trainer-contact :hover,
a:hover {
  transition: 1s;
  color: white;
}

/* TRAINER-SECTION ENDS */
/* TRAINER-SECTION ENDS */
/* TRAINER-SECTION ENDS */

/* CONTACT-SECTION STARTS */
/* CONTACT-SECTION STARTS */
/* CONTACT-SECTION STARTS */

*,
*:before,
*:after {
  box-sizing: content-box;
}

.row {
  overflow: hidden;
  display: -webkit-inline-box;
  padding: 10px;
  margin: auto;
  flex-direction: row;
  flex-wrap: nowrap;
}

.column {
  float: left;
  width: 33.3%;
  padding: 10px;
  margin: auto;
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.card img:hover {
  font-size: x-large;
  transform: scale(1.02);
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
  text-align: center;
}

.container p {
  color: rgb(200, 204, 214);
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: rgb(0, 0, 0);
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  width: 50%;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* CONTACT-SECTION ENDS */
/* CONTACT-SECTION ENDS */
/* CONTACT-SECTION ENDS */

/* FOOTER-SECTION STARTS */
/* FOOTER-SECTION STARTS */
/* FOOTER-SECTION STARTS */

footer {
  text-align: center;
  width: auto;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  padding: 5px 0px 2px 0px;
}

footer a {
  margin-right: 40px;
  font-size: 30px;
  padding-bottom: -10px;
}

footer a:hover {
  color: tomato;
  font-size: x-large;
  transition: 1s;
}

/* FOOTER-SECTION ENDS */
/* FOOTER-SECTION ENDS */
/* FOOTER-SECTION ENDS */




/* LANDING PAGE STARTS */




/* LANDING PAGE ENDS */







/* Media queries for responsive page */
/* Responsive webpage when the screen is less than 700px width, making columns */
@media screen and (max-width: 700px) {
  .menu {
    flex-direction: column;
  }
}

/* Responsive webpage - when the screen is less than 400px wide, making stacks*/
@media screen and (max-width: 400px) {
  header {
    bottom: 0;
    width: 100%;
  }
}