/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Increasing the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Sticky navbar */ 
.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/* Styling the nav a tag links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/* Right-side link */
.navbar a.right {
  float: right;
}

/* Changing color on a tag hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active background color */
.navbar a.active {
  background-color: #666;
  color: white;
}

/* row container */
.row {  
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
}

/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/*styling image*/
.image-1 img {
  background-color: #aaa;
  height: 200px;
  width: 270px;
  padding: 20px;
}
.image img {
    background-color: #aaa;
   width: 80%;
  }
.image-1{
    background-color: #aaa;
    padding: 20px;
  }

.image-2 img {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }

/* Responsive webpage when the screen is less than 700px width, making columns */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive webpage - when the screen is less than 400px wide, making stacks*/
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}