html,
body {
  background-image: linear-gradient(rgb(255, 255, 255), rgb(72, 80, 84));
  min-height: 100vh;
  margin: 0;
}
* {
  box-sizing: border-box;
}
* {
  word-break: break-all;
}
/* HEADER SECTION STARTS*/
/* HEADER SECTION STARTS*/
/* HEADER SECTION STARTS*/
header ul {
  list-style-type: none;
  margin-top: 0;
  position: absolute;
  width: 100%;
  padding: 0;
  overflow: hidden;
  background-color: rgb(83, 78, 78);
 
}

header ul li {
  float: left;
}

header ul li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header ul li a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(42, 81, 97);
}

header ul li.dropdown {
  display: inline-block;
}

.dropdown-list {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-list a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-list a:hover {
  background-color: rgb(11, 120, 210);
}

.dropdown:hover .dropdown-list {
  display: block;
}



/* Adding media queries for responsiv*/
@media screen and (min-width: 500px) {
  header ul {
    float: none;
    display: inline;
    flex-direction: column;
    text-align: left;
  }
}
@media screen and (max-width: 400px) {
  header ul {
    float: none;
    display: inline-block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}


/* HEADER SECTION CLOSED */
/* HEADER SECTION CLOSED */
/* HEADER SECTION CLOSED */

/* CARD-SECTION FLIPCARD STARTS*/
/* CARD-SECTION FLIPCARD STARTS*/
/* CARD-SECTION FLIPCARD STARTS*/

.course-section {
  width: 100%;
  text-align: center;
  margin: auto;
}
.course-card {
  display: inline-block;
  border: 5px solid rgb(0, 0, 0);
  border-style: double;
  border-radius: 20px;
  margin-right: 50px;
}
.animation-card {
  text-align: center;
}

/* INDEX-PAGE STARTS*/
/* INDEX-PAGE STARTS*/
/* INDEX-PAGE STARTS*/
.welcompage {
  background-image: url(https://w.wallhaven.cc/full/x8/wallhaven-x8ye3z.jpg);
  color: aliceblue;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  background-attachment: fixed;
  /* background-repeat: no-repeat; */
  background-position: right top;
}
.welcompage2 {
  background-image: url(https://w.wallhaven.cc/full/dp/wallhaven-dpo38l.jpg);
  color: aliceblue;
  text-align: center;
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  background-attachment: fixed;
  /* background-repeat: no-repeat; */
  background-position: right top;
}
.wel-head h1 {
  width: 100%;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 0 auto;
  padding-top: 70px;
}
.wel-head p {
  text-align: center;
  width: 50%;
  letter-spacing: 1px;
  margin: auto;
  margin-bottom: 60px;
  padding-top: 30px;
}

/* BUTTON_BUTTON STARTS */
/* BUTTON_BUTTON STARTS */
/* BUTTON_BUTTON STARTS */

button {
  display: inline-block;
  border-radius: 10px;
  background-color: orangered;
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: -30px 0px 50px 0px;
}

button span::after {
  content: icon;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  padding-right: 20px;
}

/* BUTTON_BUTTON ENDS */
/* BUTTON_BUTTON ENDS */
/* BUTTON_BUTTON ENDS */

/* FOOTER-SECTION STARTS */
/* FOOTER-SECTION STARTS */
/* FOOTER-SECTION STARTS */

footer {
  text-align: center;
  width: auto;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  padding: 5px 0px 2px 0px;
}
footer a {
  margin-right: 40px;
  font-size: 30px;
  padding-bottom: -10px;
}
footer a:hover {
  color: tomato;
  font-size: x-large;
  transition: 1s;
}

/* FOOTER-SECTION ENDS */
/* FOOTER-SECTION ENDS */
/* FOOTER-SECTION ENDS */

/* Media queries for responsive page */
