/* Common Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: "Baloo Da 2", cursive;
  }
  
  html {
    font-size: 62.5%;
  }
  
  .logo {
    font-size: 3.5rem;
    font-style: italic;
    font-weight: 800;
    color: #fff;
    position: relative;
    cursor: pointer;
  }
  
  .p-1 {
    font-size: 4.5rem;
    margin-right: 1rem;
    position: relative;
    z-index: 10;
  }
  
  .p-2 {
    font-size: 4.5rem;
    color: rgb(234, 55, 55);
    position: absolute;
    top: 0.4rem;
    left: 0.5rem;
  }
  
  .blue-btn {
    width: 35rem;
    height: 5rem;
    background-color: #036bb1;
    color: #fff;
    border-radius: 3rem;
    border: none;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
  }
  /* End of Common Styles */
  
  /* Front Page */
  .front-page {
    /* display: none; */
  }
  
  /* Section 1 */
  .section-1 {
    width: 100%;
    height: 65vh;
    background: linear-gradient(
        to top,
        rgba(38, 38, 38, 0.7),
        rgba(38, 38, 38, 0.6)
      ),
      url(images/bg.jpg) center no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .navbar-wrapper {
    width: 100%;
    height: 8rem;
    border-bottom: 0.1rem solid #aaa;
    display: flex;
    justify-content: center;
  }
  .navbar {
    width: 120rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu {
    display: none;
  }
  
  .nav-list {
    display: flex;
  }
  
  .nav-list-item {
    height: 8rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    transition: border-bottom 0.1s;
  }
  
  .nav-list-item:hover {
    border-bottom: 0.2rem solid #fff;
  }
  
  .nav-dropdown {
    width: 100%;
    height: 20rem;
    background: linear-gradient(to right, #066399, #2f8fdf, #066399);
    position: absolute;
    top: 8rem;
    left: 0;
    z-index: 100;
    padding: 0 30rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0;
    visibility: hidden;
  }
  
  .nav-dropdown-item {
    width: 25rem;
    margin: 2rem 10rem;
    display: flex;
    flex-direction: column;
  }
  
  .dropdown-heading {
    display: none;
  }
  
  .nav-dropdown-link-1 {
    font-size: 1.6rem;
    color: #fff;
  }
  
  .nav-dropdown-link-2 {
    font-size: 1.3rem;
    color: #fff;
  }
  
  .nav-list-link {
    width: 100%;
    height: 100%;
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
  }
  
  .nav-list-link i {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    transition: transform 0.3s;
  }
  
  .navbar-btn {
    width: 8rem;
    padding: 0.7rem;
    margin: 0.3rem;
    border-radius: 3rem;
    border: 0.1rem solid #fff;
    font-size: 1.4rem;
    cursor: pointer;
  }
  
  .navbar-btn:nth-child(1) {
    background-color: transparent;
    color: #fff;
  }
  
  .navbar-btn:nth-child(2) {
    background-color: #fff;
    color: #262626;
  }
  
  .banner {
    width: 100%;
    position: absolute;
    top: 25%;
    text-align: center;
  }
  
  .banner-heading {
    font-size: 6rem;
    font-weight: 300;
    color: #fff;
    margin-bottom: 3rem;
  }
  
  .banner-paragraph {
    font-size: 1.8rem;
    color: #fff;
    width: 50%;
    margin: 0 auto 4rem auto;
  }
  
  /* End of Section 1 */
  
  /* Section 2 */
  .section-2 {
    width: 100%;
    padding: 10rem 0 15rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .section-2-heading {
    font-size: 5rem;
    font-weight: 300;
    color: #333;
    margin-bottom: 3rem;
  }
  
  .services {
    display: flex;
  }
  
  .service {
    width: 35rem;
    text-align: center;
    margin: 0 5rem;
  }
  
  .service i {
    font-size: 6rem;
    color: #229fe7;
    margin: 2rem 0;
  }
  
  .service-heading {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }
  
  .service-paragraph {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    line-height: 1.2;
  }
  
  .service-btn {
    width: 20rem;
    padding: 1.5rem;
    background-color: transparent;
    border-radius: 3rem;
    border: 0.1rem solid #036bb1;
    color: #036bb1;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  }
  /* End of Section 2 */
  
  /* Section 3 */
  .section-3 {
    width: 100%;
    padding: 5rem 0;
    background: linear-gradient(
      to right,
      rgba(3, 33, 129, 0.9),
      rgba(9, 67, 153, 0.8),
      rgba(4, 32, 124, 0.9)
    );
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .section-3-heading {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 5rem;
  }
  
  .features {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .feature {
    width: calc(100% / 3);
    text-align: center;
    padding: 0 5rem;
    margin-bottom: 5rem;
  }
  
  .feature-heading {
    width: max-content;
    font-size: 3rem;
    font-weight: 300;
    margin: 0 auto 1rem auto;
  }
  
  .feature-paragraph {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  /* End of Section 3 */
  
  /* Section 4 */
  .section-4 {
    width: 100%;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .section-4-heading {
    font-size: 5rem;
    font-weight: 400;
    color: #444;
    margin-bottom: 5rem;
  }
  
  .section-4-content {
    display: flex;
  }
  
  .section-4-img-wrapper {
    width: 50rem;
  }
  
  .section-4-img-wrapper img {
    width: 100%;
    opacity: 0.8;
  }
  
  .section-4-list {
    width: 55%;
    margin-top: 2rem;
  }
  
  .section-4-list-item {
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .number {
    width: 3.5rem;
    height: 3.5rem;
    border: 0.1rem solid #555;
    border-radius: 50%;
    margin-right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .section-4-list-item a {
    color: #036bb1;
    font-weight: bold;
  }
  /* End of Section 4 */
  
  /* Section 5 */
  .section-5 {
    width: 100%;
  }
  
  .section-5-top {
    width: 100%;
    background-color: #f3f7fa;
    text-align: center;
    padding: 7rem 0;
  }
  
  .section-5-top-heading {
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 4rem;
  }
  
  .footer {
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0 3rem 0;
  }
  
  .footer-top {
    width: 70%;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem dotted #262626;
    padding-bottom: 1rem;
  }
  
  .footer-list {
    display: flex;
    align-items: center;
  }
  
  .footer-list li {
    margin-right: 2.5rem;
  }
  
  .footer-list a {
    font-size: 1.5rem;
    font-weight: 600;
    color: #262626;
  }
  
  .footer-list img {
    width: 3.8rem;
    opacity: 0.6;
  }
  
  .copyright {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
  /* End of Section 5 */
  /* End of Front Page */
  
  /* Login Page */
  .login-page {
    width: 100%;
    height: 100vh;
    position: relative;
    display: none;
  }
  
  .login-page-content {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1rem solid #cfcfcf;
    padding: 3rem;
  }
  
  .login-page-logo {
    margin-bottom: 1.2rem;
  }
  
  .login-page-logo .p-1 {
    color: #064699;
  }
  
  .login-page-logo .p-2 {
    color: #32a4f0;
  }
  
  .login-page-logo span:nth-child(3) {
    color: #064699;
  }
  
  .login-page-logo span:nth-child(4) {
    color: #32a4f0;
  }
  
  .login-page-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-page-form input {
    width: 37rem;
    height: 4.5rem;
    margin: 1rem;
    border-radius: 0.5rem;
  }
  
  .form-login-input {
    padding: 0 1.5rem;
    border: 0.1rem solid #777;
    font-size: 1.6rem;
  }
  
  .form-login-btn {
    background-color: #036bb1;
    color: #fff;
    border: 0.1rem solid #036bb1;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
  }
  
  .form-login-link {
    font-size: 1.6rem;
    color: #229fe7;
    margin: 1.2rem 0 1rem 0;
  }
  
  .login-page-form span {
    width: 2rem;
    font-size: 1.8rem;
    color: #888;
    margin: 1rem 0;
    position: relative;
  }
  
  .login-page-form span::before {
    content: "";
    width: 16rem;
    height: 0.1rem;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    right: 3.5rem;
    transform: translateY(-50%);
  }
  
  .login-page-form span::after {
    content: "";
    width: 16rem;
    height: 0.1rem;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 3.5rem;
    transform: translateY(-50%);
  }
  
  .form-signup-btn {
    background-color: #dbe8ec;
    border: 0.1rem solid #dbe8ec;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
  }
  /* End of Login Page */
  
  /* Sign Up Page */
  .signup-page {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to bottom,
      rgba(112, 112, 112, 0.9),
      rgba(255, 255, 255, 0.8) 10%
    );
    display: none;
    flex-direction: column;
    align-items: center;
  }
  
  .signup-page-top {
    width: 120rem;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
  }
  
  .signup-page-logo .p-2 {
    color: #e9e9e9;
  }
  
  .signup-page-top button {
    width: 8rem;
    padding: 0.7rem;
    background-color: transparent;
    border: 0.1rem solid #fff;
    border-radius: 3rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
  }
  
  .signup-page-content {
    width: 120rem;
    display: flex;
    justify-content: space-between;
  }
  
  .signup-page-content-left {
    width: 60%;
    border-right: 0.1rem solid #b1b1b1;
    padding: 3rem 3rem 3rem 0;
  }
  
  .content-left-images {
    display: flex;
    margin-bottom: 5rem;
  }
  
  .content-left-images img {
    width: 18rem;
    border-radius: 50%;
    border: 1.5rem solid #ccc;
    margin-right: 5rem;
  }
  
  .signup-page-content-left h1 {
    font-size: 4rem;
    font-weight: 300;
    color: #333;
    line-height: 1.1;
  }
  
  .signup-page-content-right {
    width: 40%;
    padding: 3rem 0 3rem 3rem;
    color: #555;
  }
  
  .signup-page-content-right h3 {
    font-size: 2.4rem;
    font-weight: 300;
  }
  
  .signup-page-content-right h4 {
    font-size: 1.6rem;
    font-weight: 500;
  }
  
  .input-group {
    display: flex;
    margin: 1.5rem;
  }
  
  .option h3 {
    font-size: 1.7rem;
    font-weight: 600;
  }
  
  .option p {
    font-size: 1.5rem;
  }
  
  .input-group input[type="radio"] {
    width: 30%;
    height: 2rem;
    margin: 0.5rem 1rem 0 -1.5rem;
  }
  /* End of Sign Up Page */
  
  /* Responsive */
  @media (max-width: 1500px) {
    .nav-dropdown {
      padding: 0 25rem;
    }
  
    .nav-dropdown-item {
      margin: 2rem 6rem;
    }
  
    .features {
      width: 80%;
    }
  
    .feature {
      padding: 0 3rem;
    }
  }
  
  @media (max-width: 1400px) {
    html {
      font-size: 55%;
    }
  
    .navbar {
      width: 100rem;
    }
  
    .section-1 {
      height: 70vh;
    }
  
    .banner-paragraph {
      width: 70%;
    }
  
    .services {
      width: 90%;
    }
  
    .features {
      width: 90%;
    }
  
    .section-4-content {
      width: 80%;
    }
  
    .section-4-img-wrapper {
      width: 40%;
      margin-right: 6rem;
    }
  
    .signup-page {
      background: linear-gradient(
        to bottom,
        rgba(112, 112, 112, 0.9),
        rgba(255, 255, 255, 0.8) 12%
      );
    }
  }
  
  @media (max-width: 1200px) {
    .signup-page-top {
      width: 90rem;
    }
  
    .signup-page-content {
      width: 90rem;
      flex-direction: column;
      align-items: center;
    }
  
    .signup-page-content-left {
      width: 100%;
      border-right: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      border-bottom: 0.1rem solid #b1b1b1;
    }
  
    .signup-page-content-right {
      width: 100%;
      padding: 3rem;
    }
  
    .input-group input[type="radio"] {
      width: 10%;
      margin: 0.5rem 0 0 -3rem;
    }
  
    .signup-page-content-right .blue-btn {
      width: 100%;
      margin: 3rem 0;
    }
  }
  
  @media (max-width: 1100px) {
    .nav-dropdown-item {
      margin: 2rem 3.4rem;
    }
  }
  
  @media (max-width: 1000px) {
    html {
      font-size: 50%;
    }
  
    .navbar {
      width: 100%;
      padding: 0 5rem;
    }
  
    .navbar-logo {
      position: absolute;
      top: 4rem;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    .menu {
      width: 11rem;
      height: 4rem;
      border-radius: 3rem;
      border: 0.1rem solid #fff;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      transition: transform 0.6s cubic-bezier(1, 0, 0, 1);
    }
  
    .change .menu {
      transform: translateX(16rem);
      position: fixed;
      top: 2rem;
      left: 6rem;
      background-color: #eee;
    }
  
    .menu-icon {
      height: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .line {
      width: 2rem;
      height: 0.1rem;
      background-color: #fff;
      transform-origin: left;
    }
  
    .change .line-1 {
      transform: rotate(45deg);
      background-color: #444;
    }
  
    .change .line-2 {
      opacity: 0;
      visibility: hidden;
    }
  
    .change .line-3 {
      transform: rotate(-45deg);
      background-color: #444;
    }
  
    .menu span {
      font-size: 1.8rem;
      color: #fff;
    }
  
    .change .menu span {
      color: #555;
    }
  
    .nav-list,
    .nav-dropdown-personal,
    .nav-dropdown-business {
      /* display: none; */
      position: fixed;
      top: 0;
      left: -20rem;
      width: 20rem;
      height: 100vh;
      background: linear-gradient(to bottom, #032181, #094399, #04207c);
      flex-direction: column;
      padding-top: 2rem;
      z-index: 200;
      transition: left 0.6s cubic-bezier(1, 0, 0, 1);
    }
  
    .change .nav-list {
      left: 0;
    }
  
    .nav-dropdown-personal,
    .nav-dropdown-business {
      opacity: 1;
      visibility: visible;
      padding: 1rem;
      justify-content: flex-start;
    }
  
    .nav-dropdown-item {
      width: 100%;
      margin: 1rem 1rem 0 1rem;
    }
  
    .dropdown-heading {
      display: block;
    }
  
    .dropdown-heading a {
      font-size: 1.6rem;
      text-transform: uppercase;
      color: #fff;
    }
  
    .dropdown-heading a i {
      font-size: 1.5rem;
      transform: rotate(90deg);
      margin-right: 1rem;
    }
  
    .nav-dropdown-link-1 {
      font-size: 1.4rem;
    }
  
    .nav-dropdown-link-2 {
      display: none;
    }
  
    .nav-list-item {
      width: 100%;
      height: auto;
      padding: 0 1rem;
      margin: 0.4rem 0;
    }
  
    .nav-list-item:hover {
      border-bottom: none;
    }
  
    .nav-list-link {
      font-size: 1.4rem;
    }
  
    .nav-list-item i {
      font-size: 1.2rem;
      transform: rotate(-90deg);
    }
  
    .navbar-buttons {
      margin-left: auto;
    }
  
    .section-2-heading {
      font-size: 4rem;
    }
  
    .features {
      width: 95%;
    }
  
    .feature {
      padding: 0 1.5rem;
    }
  
    .section-4-content {
      flex-direction: column;
      align-items: center;
    }
  
    .section-4-img-wrapper {
      margin: auto;
    }
  
    .section-4-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .footer-top {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-list {
      margin-bottom: 1rem;
    }
  
    .copyright {
      margin: 1.5rem 0;
    }
  }
  
  @media (max-width: 800px) {
    html {
      font-size: 45%;
    }
  
    .section-2 {
      padding: 10rem 0;
    }
  
    .section-2-heading {
      width: 80%;
      text-align: center;
      line-height: 1.2;
    }
  
    .services {
      width: 95%;
    }
  
    .service {
      width: 30rem;
      margin: 0 2rem;
    }
  
    .service i {
      font-size: 4rem;
    }
  
    .service-btn {
      width: 15rem;
      padding: 1rem;
    }
  
    .features {
      width: 100%;
    }
  
    .feature {
      width: 50%;
      padding: 0 4rem;
    }
  
    .signup-page-top {
      width: 50rem;
    }
  
    .signup-page-content {
      width: 85%;
      padding: 0 3rem;
    }
  
    .signup-page-content-left {
      width: 100%;
      padding: 3rem;
    }
  
    .content-left-images img {
      width: 14rem;
      margin: 0 1.5rem;
      border: 1rem solid #ccc;
    }
  
    .signup-page-content-left h1 {
      font-size: 3rem;
    }
  
    .signup-page-content-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3rem;
    }
  
    .input-group input[type="radio"] {
      width: 20%;
      margin: 0.5rem 1.5rem 0 0;
    }
  }
  
  @media (max-width: 550px) {
    .navbar-logo {
      display: none;
    }
  
    .banner-heading {
      font-size: 4.5rem;
    }
  
    .banner-paragraph {
      line-height: 1.2;
    }
  
    .services {
      flex-direction: column;
      align-items: center;
    }
  
    .service {
      width: 60%;
      margin-bottom: 4rem;
    }
  
    .section-3-heading {
      font-size: 4rem;
    }
  
    .features {
      flex-direction: column;
      align-items: center;
    }
  
    .feature {
      width: 80%;
    }
  
    .section-4-heading {
      font-size: 4rem;
    }
  
    .section-4-content {
      width: 100%;
      padding: 0 3rem;
    }
  
    .section-4-img-wrapper {
      display: none;
    }
  
    .section-4-list {
      align-items: flex-start;
    }
  
    .footer-top {
      width: 90%;
    }
  
    .signup-page-top {
      width: 40rem;
    }
  
    .signup-page-content {
      width: 100%;
    }
  
    .signup-page-content-left {
      display: none;
    }
  
    .signup-page-content-right {
      width: 100%;
    }
  }
  
  @media (max-width: 400px) {
    html {
      font-size: 40%;
    }
  
    .menu {
      width: 5rem;
    }
  
    .menu span {
      display: none;
    }
  
    .number {
      min-width: 3.5rem;
    }
  }
  /* End of Responsive */
  