/** google font **/
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body {
  margin: auto;
  border: 1px solid black;
}


.color-gradient-s1 {
  background-image: linear-gradient(rgb(194, 130, 130), rgb(236, 163, 163));
}

.color-gradient-s2 {
  background-image: linear-gradient(rgb(178, 13, 13), rgb(54, 58, 58));
}

.color-gradient-s3 {
  background-image: linear-gradient(rgb(43, 11, 167), rgb(54, 58, 58));
}

.color-gradient-s4 {
  background-image: linear-gradient(rgb(69, 120, 207), rgb(26, 134, 222));
}

.color-gradient-s5 {
  background-image: linear-gradient(rgb(205, 205, 205), rgb(54, 58, 58));
}

.color-gradient-s6 {
  background-image: linear-gradient(rgb(37, 8, 8), rgb(54, 58, 58));
}

/* CSS Variables */
:root {
  --primary-color: #424141;
  --secondary-color: #2096ea;
  --line-height: 1rem;
  --transition: 0.4s ease-in;
}

.section-x {
  width: 90%;
  height: 150vh;
  margin: 1em 0;
  padding: 1em;
  background-color: brown;
  margin: auto;
}



/* HEADER SECTION STARTS */
nav {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  box-shadow: 2px 3px 2px #f1f1f1;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.cap {
  color: var(--secondary-color);
}

.mr {
  color: var(--primary-color);
}

.engineer {
  color: var(--secondary-color);
}

.ul-home {
  border: 5px solid black;
}

.site-heading {
  text-align: center;
  background: linear-gradient(to bottom, var(--accent-color), var(--gradient-color));
}

.site-head-text {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  border-bottom: 5px solid white;
  font-family: var(--font-type-2);
  font-weight: 700;
}

header {
  position: fixed;
  width: 100%;
  top: 0%;
  background-color: hsl(192, 89%, 29%);
}

ul {
  /* border: 1px solid green; */
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
  overflow: hidden;
}

ul li {
  list-style-type: none;
  display: inline;
}

li a {
  /* border: 1px solid red; */
  text-decoration: none;
  padding: 16px 16px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  border-right: 2px solid white;
}

.site-heading {
  --accent-color: #6591d3;
  --gradient-color: #ea48ae;
}

.site-heading nav ul :hover {
  background: linear-gradient(to bottom, var(--accent-color), var(--gradient-color));
  transition: 2s;
  border-radius: 10px;
  color: #000;
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
}



.menu-icon {
  padding: 0 2px;
  color: hsl(143, 74%, 53%);
}


/* HEADER SECTION ENDS */



/* SIDE-NAVIGATION   */
#mySidenav a {
  position: fixed;
  right: -60px;
  margin-top: 6rem;
  transition: 0.5s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  right: 5px;
}

#facebook {
  top: 20px;
  background-color: #04AA6D;
}

#instagram {
  top: 80px;
  background-color: #2196F3;
}

#linkedin {
  top: 140px;
  background-color: #f44336;
}

#website {
  top: 200px;
  background-color: rgb(75, 198, 64)
}

/* SIDE-NAVIGATION  ENDS */






/* SECTION-1 STRATS */

#s1 {
  margin-top: 160px;
}

.main {
  display: flex;
}

.main-div {
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  text-align: center;
  padding: 20px;
}



















/* SECTION-1 ENDS */

/* Footer starts */

.contactus {
  margin-top: 10px;
  border: 1px solid red;
  display: flex;
}

.company-logo {
  /* background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)); */
  background-image: url(/UI-project-v3/image/SouravJamoriya-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 160px;
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  text-align: center;
  padding: 10px;
}

.social {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px solid rgb(0, 0, 0);
  background-image: linear-gradient(rgb(43, 170, 199), rgb(210, 61, 61));
  width: 100%;
  text-align: center;
  padding: 10px;
}

.address {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: linear-gradient(rgb(232, 220, 61), rgb(183, 35, 183));
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  text-align: center;
  padding: 10px;
}


svg {
  height: 30px;
  padding: 10px;
  color: #2196F3;
}


/* Footer Ends */